h1 {
    color: 	 #032539;
    font-size: 45px !important;
    font-family: 'Times New Roman', Times, serif !important;
}

div.row.emblem {
    justify-content: center;
    justify-items: center;
}

.v-row {
    column-gap: 50px;
}
